<html ng-app="department-controller">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/department.css" />

    <script type="text/javascript" src="/libraries/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/libraries/bootstrap.js"></script>
    <script type="text/javascript" src="/js/principal.js"></script>
    <script type="text/javascript" src="/libraries/angular.min.js"></script>
    <script type="text/javascript" src="/js/departments.js"></script>
</head>

<body ng-controller="DepartmentsVM" class="departmentsBody">

    <div class="row">
        <span>Departamentos vazios: {{numberOfEmptyDepartments}}</span>
    </div>
    <div id="departmentData" class="row">
        <table class="table">
            <thead>
                <th>nome</th>
                <th>empregados</th>
            </thead>
            <tbody>
            <tr class="" ng-repeat="department in departments">
                <td>{{department.name}}</td>
                <td>{{department.numberOfEmployees}}</td>
                <td><input type="button" value="Excluir" ng-click="remove($index);" /></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>

</html>