<html ng-app="employee-controller">
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/employee.css" />

        <script type="text/javascript" src="/libraries/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/libraries/bootstrap.js"></script>
        <script type="text/javascript" src="/js/principal.js"></script>
        <script type="text/javascript" src="/libraries/angular.min.js"></script>
        <script type="text/javascript" src="/js/employees.js"></script>
    </head>

    <body ng-controller="EmployeesVM" class="employeesBody">

        <div id="employeeData" class="row">
            <table class="table">
                <thead>
                    <th>name</th>
                    <th>departamento</th>
                </thead>
                <tbody>
                <tr class="">
                    <td><input type="text" ng-model="newEmployeeName"/></td>
                    <td>
                        <select id="selectDepartment"
                                ng-model="newEmployeeDepartment"
                                ng-options="option.id as (option.name) for option in departments">
                        </select>
                    </td>
                    <td><input type="button" value="{{employeeActionButton}}" ng-click="takeAction();"/></td>
                    <td><input type="button" id="cancelButton" value="Cancelar" ng-click="cancel();" /></td>
                </tr>
                <tr class="" ng-repeat="employee in employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.department}}</td>
                    <td><input type="button" value="Editar" ng-click="edit($index);" /></td>
                    <td><input type="button" value="Excluir" ng-click="remove($index);" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>